:root {
  --img-sm: 10%;
  --img-md: 30%;
  --img-lg: 50%;
  --img-min: 100px;
}

.mk-absolute {
  position: absolute;
}
.mk-over {
  z-index: 1;
}
.mk-under {
  z-index: 0;
}
.mk-container-center {
  display: flex;
  flex: 1;
}

.pokemon-img-sm {
  height: var(--img-sm);
  min-height: var(--img-min);
}

.pokemon-img-md {
  height: var(--img-md);
  min-height: var(--img-min);
}

.pokemon-img-lg {
  height: var(--img-lg);
  min-height: var(--img-min);
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arena {
  height: 60vh;
  width: 60vw;
}

.script-box {
  will-change: width, height, left, top;
  /* position: relative; */
}

.image.is-256x256 {
  height: 256px;
  width: 256px;
}

.mk-center-x {
  margin: 0 auto;
}
