:root {
  --img-sm: 10%;
  --img-md: 30%;
  --img-lg: 50%;
  --img-min: 100px;
  --bg-color: #282c34;
}
.mk-center-x {
  margin: 0 auto;
}
.mk-absolute {
  position: absolute;
}
.mk-over {
  z-index: 1;
}
.mk-under {
  z-index: 0;
}
.mk-container-center {
  display: flex;
  flex: 1;
}

.pokemon-img-sm {
  height: var(--img-sm);
  min-height: var(--img-min);
}

.pokemon-img-md {
  height: var(--img-md);
  min-height: var(--img-min);
}

.pokemon-img-lg {
  height: var(--img-lg);
  min-height: var(--img-min);
}

html,
body {
  background-color: var(--bg-color);
}
.App {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arena {
  height: 40vh;
  width: 40vw;
}

.script-box {
  will-change: width, height, left, top;
  /* position: relative; */
}

.image.is-256x256 {
  height: 256px;
  width: 256px;
}

.image.is-384x384 {
  height: 384px;
  width: 384px;
}

.mk-modal {
  display: flex;
  position: relative;
  flex: 1;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}

.mk-scroll {
  overflow-y: auto;
}

.evolveModalButton {
  margin-top: -4em;
}

/* Disable highcharts background*/
.highcharts-container {
  background: none !important;
}
.highcharts-background {
  fill: none !important;
}
/* rect[Attributes Style] {
  fill: none !important;
} */
/* .highcharts-credits {
  display: none !important;
  pointer-events: none !important;
} */

/* Disable highcharts background*/
.highcharts-container text {
  font-size: 1.3em !important;
  fill: whitesmoke !important;
}

/* .highcharts-legend-item text {
  font-size: 1.2em !important;
  fill: whitesmoke !important;
  position: absolute !important;
} */
/**/

.debugSection {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 20vh;
}

/* @media screen and (min-width: 769px) {
  .column.is-3,
  .column.is-3-tablet {
    flex: none;
    width: 24%;
  }
} */

/* .mk-auto {
  margin-left: auto;
  margin-right: auto;
} */

.evolution-chain-display {
  min-height: 128px;
  background-color: hsl(0, 0%, 40%, 0.5);
  border-radius: 10rem;
  padding: 0.5rem 1rem;
}
.masked {
  filter: brightness(0);
  -webkit-filter: brightness(0);
}
.evolution-chain-display-pokemon {
  /* transition: background-color 100ms ease; */
  border-radius: 10rem;
}
.evolution-chain-display-pokemon:hover,
.evolution-chain-display-pokemon:focus {
  background-color: hsl(0, 0%, 100%, 0.5);
}
